<?php

/*
 * adapt this file, if you want to define custom database credentials.
 */

return array(
    'db_name' => 'arc2_test',
    'db_user' => 'root',
    'db_pwd' => 'Pass123',
    'db_host' => 'db',
    'db_port' => 3306,
    'db_adapter' => 'pdo',
    'db_pdo_protocol' => 'mysql',
    'store_name' => 'arc',
);
